.frontPage{
    /* border: 2px solid red; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.frontPage h2{
    font-size: 1.8rem;
}
 p{
    font-size: 1.2rem;
    opacity: .7;
}
.frontPage .name{
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 25%;
    width: 100%;
}
.frontPage .name input{
height: 60%;
width: 100%;
padding-left: 1rem;
border-radius: 10px;
outline: none;
border: 1px solid;
font-size: 1.1rem;
}
.frontPage .name label{
    font-size: large;
    font-weight: 600;
}