.App{
    /* border: 2px solid red; */
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.mainDiv{
    /* border: 2px solid blue; */
    height: 90%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 1px 1px 4px black;
    border-radius: 10px;

}
.mainDiv img{
    /* border: 2px solid red; */
    width: 40%;
}
.mainDiv .showInput{
    /* border: 2px solid blue; */
    height: 60%;
    width: 90%;
}
.mainDiv .stepper{
    /* border: 2px solid red; */
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;


}
/* .stepper .MuiSvgIcon-root{
    border-radius: 50%;
    border: 2px solid #1976d2;
    background-color: #1976d2;
} */
.mainDiv button{
    height: 7%;
    width: 90%;
    background-color: #1976d2;
    color: white;
    /* font-weight: bold; */
    font-size: large;
    border: none;
    outline: none;
    border-radius: 9px;
    cursor: pointer;

}
@media only screen and (min-width:768px) and (max-width:950px){
    .mainDiv{
    /* border: 2px solid blue; */
    height: 95%;
    width: 35%;
    }
}
@media only screen and (min-width:560px) and (max-width:768px){
    .mainDiv{
        /* border: 2px solid blue; */
        height: 95%;
        width: 40%;
        }
}
@media only screen and (min-width:321px) and (max-width:560px){
    .mainDiv{
        /* border: 2px solid blue; */
        height: 85%;
        width: 95%;
        }
        
}
@media only screen and (max-width:320px){
    .mainDiv{
        /* border: 2px solid blue; */
        height: 90%;
        width: 80%;
        }
}